<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Traffic Rocket</title>
    <script src="{{ url_for('static', filename='js/generator.js') }}" async></script>
</head>
<body ontouchstart="">
    <div class="main">
        <h1 class="title">Traffic Rocket</h1>
        <div class="wrapper">
            <input type="url" name="url" id="url">
            <input type="button" value="Add this page" class="action">
            <input type="button" value="Remove this page" class="remove">
            <div>
                <p class="msg"></p>
            </div>
            <h2 class="heading"></h2>
            <div class="contents">

            </div>
            <div style="margin: 30px 0;">
                <a href="{{ url_for('index') }}" id="delete">アプリの利用を停止する</a>
            </div>
        </div>
    </div>
</body>
</html>